{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row my-5 ms-5">
            {% for car in cars %}
                <div class="col-2 m-2 text-center fw-bolder fs-4">
                    <img src="{{ car.image.url }}" alt="" width="300px">
                    {{ car.brand }}
                    {{ car.model }}
                    <p class="fw-normal fs-5"><em>{{ car.price }} руб/сутки</em></p>
                    <a href="{% url 'carrent' car.slug %}">
                        <button type="button" class="btn btn-primary btn-lg border-dark border-3">
                            Заказать
                        </button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}